# Database (Dùng cho Prisma và Docker)
DB_USER=postgres
DB_PASSWORD=password123
DB_NAME=recruitment_platform

GEMINI_API_KEY=AIzaSyAWpRycIlSMQvm8OFKgzLIvYz7poH1dJfs

# Lưu ý: Database URL này dùng để Prisma migration có thể chạy từ máy host (port 5433)
DATABASE_URL="postgresql://postgres:password123@localhost:5433/recruitment_platform?schema=public"

# Auth (QUAN TRỌNG: Thiếu cái này sẽ lỗi Token/Login)
JWT_SECRET="SmartCV_Super_Secret_Key_2026"
JWT_EXPIRES_IN="1d"

# Cloudinary (QUAN TRỌNG: Để upload ảnh/CV)
CLOUDINARY_CLOUD_NAME=dw1gb7gvd
CLOUDINARY_API_KEY=949755577587575
CLOUDINARY_API_SECRET=ZSoUhEXVPep-wwFApBXQ6bKBYgk

# Mailtrap (Để gửi email test)
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=6de35b724f6864
MAIL_PASS=cd0fd28319afe7
MAIL_FROM="SmartCV <no-reply@smartcv.com>"

# App Config
PORT=3000

# Redis Config
REDIS_HOST=localhost
REDIS_PORT=6380
REDIS_PASSWORD=

# Frontend Config
VITE_API_URL=http://localhost:3000